<footer class="site-footer">
  <nav class="main-nav" id="menu">
    <ol>
      <li>
        <a href="{{ site.baseurl }}/" {% if page.url == "/" %}class = "active"{% endif %}>Javascript on the command line</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/NodeSetup.html" {% if page.url == "/NodeSetup.html" %}class = "active"{% endif %}>Node Setup</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/NodeBackground.html" {% if page.url == "/NodeBackground.html" %}class = "active"{% endif %}>Node Background</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/node-tutorial/" {% if page.url == "/node-tutorial/" %}class = "active"{% endif %}>Node Tutorial</a>
        <ol>

            <li>
              <a href="{{ site.baseurl }}/node-tutorial/filter.html" {% if page.url == "/node-tutorial/filter.html" %}class = "active"{% endif %}>Filter some numbers</a>
            </li>
            <li>
              <a href="{{ site.baseurl }}/node-tutorial/print.html" {% if page.url == "/node-tutorial/print.html" %}class = "active"{% endif %}>Print users</a>
            </li>
            <li>
              <a href="{{ site.baseurl }}/node-tutorial/useful-functions-built-into-javascript.html" {% if page.url == "/node-tutorial/useful-functions-built-into-javascript.html" %}class = "active"{% endif %}>Useful functions built into Javascript</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}/node-tutorial/modules.html" {% if page.url == "/node-tutorial/modules.html" %}class = "active"{% endif %}>Modules</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}/node-tutorial/lets-get-modular.html" {% if page.url == "/node-tutorial/lets-get-modular.html" %}class = "active"{% endif %}>Let's get modular</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}/node-tutorial/product-list.html" {% if page.url == "/node-tutorial/product-list.html" %}class = "active"{% endif %}>Product list</a>
            </li>
        </ol>
      </li>
    </ol>
  </nav>
</footer>
